<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osym.mustafa.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8775574156097763~4164037064"/>
        <activity
            android:name=".ToolsActivity"
            android:parentActivityName=".MainPage" />
        <activity android:name=".Test" />
        <activity android:name=".MainPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Makaleler"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".MakaleViewer"
            android:label="@string/title_activity_makale_viewer"
            android:parentActivityName=".Makaleler" />
        <activity
            android:name=".CikmisSorularActivity"
            android:parentActivityName=".MainPage" />
        <!-- <activity android:name=".PuanHesaplaEkle" /> -->

        <activity
            android:name=".Hakkinda"
            android:parentActivityName=".MainPage" />
        <activity android:name=".SifreGiris" />
        <activity android:name=".NotEkleDialog" />
        <activity
            android:name=".Kelimeler"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".Osym"
            android:parentActivityName=".MainPage"
            android:usesCleartextTraffic="true" />
        <activity android:name=".SoruViewer"></activity>
    </application>

</manifest>